/node_modules
/dist
/public

/src/config/*
/src/util/

src/page/index/tags.vue
src/page/index/index.vue
src/page/home.vue
src/page/index/top/index.vue
src/page/index/top/top-menu.vue
src/page/index/top/top-lock.vue
src/page/index/top/top-breadcrumb.vue
src/page/index/sidebar/logo.vue
src/page/index/sidebar/index.vue
src/page/login/userlogin.vue
src/page/login/index.vue
src/page/login/codelogin.vue
src/page/lock/index.vue
src/page/errlog/index.vue
src/page/errlog/errorPage.vue
src/components/error-page
src/components/iframe
src/components/permission

src/extend/mixins/color.js
src/extend/filters/index.js

/src/store-helper/
src/store/modules/user.js
src/store/modules/tags.js
src/store/modules/errLog.js
src/store/modules/common.js
src/store/modules/admin.js

src/mock/user.js
src/mock/menu.js
src/mock/admin.js
